vendor
.env
db.sql
node_modules/
playwright-report/
test-results/

wordpress/
wp-content/*
index.php
wp-config.php

.idea/*
var/

# logs
install/nginx/*
install/php-fpm/error.log

!wp-content/themes/
wp-content/themes/*
!wp-content/themes/cate-theme/
!wp-content/themes/index.php

!wp-content/uploads/
wp-content/uploads/*
